body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    margin-right: 76px;
    padding-top: 16px;
    padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: flex;
        align-items: center;
        margin-right: 120px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}


@media screen and (min-width: 1158px) {
    .header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: flex;
        align-items: center;
        margin-right: 76px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    display: block;
}

.logo-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;

    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


.current {
    position: absolute;

    color: #404bbf;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;

    border-radius: 2px;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.header-nav {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.btn-mobile {
    cursor: pointer;
    border: none;
    line-height: 0;
    background-color: transparent;
    padding: 0;
    fill: #2e2f42;
    display: flex;
    position: absolute;
    right: 16px;
}

@media screen and (min-width: 768px) {
    .btn-mobile {
        display: none;
    }

}

.header-list {
    display: none;

}

@media screen and (min-width: 767px) {
    .header-list {
        display: flex;
        gap: 40px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 0;
    }

}

.header-adr-list {
    display: none;
}

@media screen and (min-width: 767px) {
    .header-adr-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        row-gap: 12px;
    }


}

@media screen and (min-width: 1158px) {
    .header-adr-list {
        display: flex;
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 40px;
    }

}

.header-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}



.header-list-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-list-item :hover,
.header-list-item :focus {
    color: #404bbf;
}

.header-adr {
    font-style: normal
}



.header-adr-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .header-adr-list-link {
        padding: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    }
}

@media screen and (min-width: 1158px) {
    .header-adr-list-link {


        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

    }
}

.header-adr-list-item :hover,
.header-adr-list-item :focus {
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
    margin: auto;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobilehero-image.jpg );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;

}

@media screen and (min-width: 768px) {
    .hero {


        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablethero-image.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero {


        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image.jpg);
    }
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
    .hero {


        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobilehero-image2x.jpg);
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {


        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablethero-image2x.jpg);
    }
}

@media screen and (min-width: 1156px) and (min-resolution: 192dpi) {
    .hero {


        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-image@2x.jpg);
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {

        padding-top: 112px;
        padding-bottom: 112px;

    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {

        padding-top: 188px;
        padding-bottom: 188px;
    }
}

@media screen and (min-width: 768px) {
    .hero {

        padding-top: 112px;
        padding-bottom: 112px;

    }
}

@media screen and (min-width: 1158px) {
    .hero {

        padding-top: 188px;
        padding-bottom: 188px;
    }
}


.hero-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: auto;
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .hero-text {

        font-size: 56px;
        line-height: 1.07;

        max-width: 496px;
        margin-bottom: 36px;
    }

}

@media screen and (min-width: 1158px) {
    .hero-text {

        margin-bottom: 48px;
    }

}



.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: block;
    border: 0px;
    margin: auto;

    height: 56px;


    border-radius: 4px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background: #404bbf;
}

button {
    cursor: pointer;
}

.btn-mob-icon {
    margin: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width:1158px) {
    .benefits {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.upper-section {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.benefits-titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;

    color: #2e2f42;
}


@media screen and (min-width: 1158px) {
    .benefits-titles {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;

    }

}


.benefits-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 72px;
}

@media screen and (min-width: 768px) {
    .benefits-list {

        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;

    }
}

@media screen and (min-width: 1158px) {
    .benefits-list {

        gap: 24px;
        justify-content: center;
        flex-direction: row;

    }
}

.benefits-list-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 288px;
}

@media screen and (min-width:768px) {
    .benefits-list-item {
        width: calc((100% - 24px) / 2);

        align-items: start;
    }

}

@media screen and (min-width: 1158px) {
    .benefits-list-item {
        width: calc((100% - 72px) / 4);



    }
}


@media screen and (max-width: 1157px) {

    .benefits-icon,
    .upper-section {
        display: none;
    }

}

.benefits-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 288px;


}

@media screen and (min-width: 768px) {
    .benefits-text {

        width: 356px;

    }
}

@media screen and (min-width: 1158px) {
    .benefits-text {
        font-weight: 400;

        width: 264px;

    }
}

.people {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .people {

        padding-top: 120px;
        padding-bottom: 120px;
    }

}


.people-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;

    margin-bottom: 72px;
}


.people-list {
    display: grid;
    flex-wrap: wrap;
    padding-right: 12px;
    padding-left: 12px;

    grid-template-columns: repeat(1, 1fr);
    row-gap: 72px;
    justify-self: center;
}

@media screen and (min-width: 768px) {
    .people-list li:nth-child(odd) {
        justify-self: end;
    }
}

@media screen and (min-width: 768px) {
    .people-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 72px;
        column-gap: 24px;
    }

    @media screen and (min-width: 1158px) {
        .people-list {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            padding: 0;
            margin: auto;
        }

    }

}

.people-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 8px
}

.people-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;

}

.people-list-item {
    background-color: #FFFFFF;
    width: 264px;

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;



}

@media screen and (min-width: 768px) {
    .people-list-item {
        width: 264px;
        height: 428px;

    }
}

@media screen and (min-width: 1158px) {
    .people-list-item {
        width: calc((100% - 24px * 3) / 4);
    }

}


.icon-social-link:focus,
.icon-social-link:hover {
    background-color: #404bbf;
    cursor: pointer;
}

.people-list-item:focus {
    background-color: #404bbf;
}

.icon-list-item {
    width: 40px;
    height: 40px;
}



.people-icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 12px;
}

.icon-social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.people-div {
    padding: 32px 0;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    margin: 0 auto;
    gap: 48px;
}



@media screen and (min-width: 768px) {
    .portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px
    }

}

@media screen and (min-width: 1158px) {
    .portfolio-list {
        row-gap: 48px;

    }
}

.portfolio-list-item {

    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;

}

@media screen and (min-width: 768px) {
    .portfolio-list-item {
        width: calc((100% - 24px) / 2);


    }

}

@media screen and (min-width: 1158px) {
    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }

}




.portfolio .container {
    overflow: hidden;
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4D5AE5;
    color: #f4f4fd;
    overflow: hidden;
    padding: 40px 32px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-bottom: 16px;
}

.portfolio-list-item:hover .overlay {
    transform: translateY(0);
    opacity: 1;

}


@media screen and (min-width: 1158px) {
    .portfolio-list-item:hover {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
    }

}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer {
    background: #2e2f42;
    padding: 96px 0;

}

.footer-icon-list {
    display: flex;
    gap: 16px;
    justify-content: center;

}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.footer-logo-item {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;

}

.footer-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;


}

.footer-logo-container {
    margin-bottom: 72px;
}

.footer-form {
    gap: 24px;
    display: block;
}

.footer-sub {

    margin-left: 0;
}

.footer-container {

    flex-wrap: wrap;
    align-items: center;
}


.media-container {

    align-items: baseline;
    margin-bottom: 72px;
}

.logo-container {
    margin-right: 120px;
    align-items: baseline;
}

.footer-media-p {
    display: flex;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    justify-content: center;
}








.footer-label {


    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.footer-input {
    display: block;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;


}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.fototer-button-container {
    display: flex;
    justify-content: center;
}

.footer-button {
    font-family: "Roboto", sans-serif;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    cursor: pointer;
}

.footer-button:hover,
.footer-button:focus {
    background: #404bbf;
}

.footer-btn-icon {
    fill: #fff;
    margin-left: 16px;
    justify-content: center;
}

.footer-icon-social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: #4D5AE5;
    height: 40px;
    width: 40px;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.footer-icon-social-link:focus,
.footer-icon-social-link:hover {
    background-color: #31d0aa;
}


@media screen and (min-width: 768px) {
    .footer-input {
        display: block;


        width: 264px;



    }

    .footer-label {



        display: flex;
        justify-content: start;
    }


    .footer-container {
        display: flex;
        align-items: baseline;
        width: 528px;

    }

    .footer-text {
        margin-bottom: 72px;
        width: 264px;
        margin-right: 24px;
    }

    .footer-form {
        gap: 24px;
        display: flex;
        max-height: 40px;
    }

    .footer-media-p {
        display: flex;
        justify-content: start;
    }

    .footer-logo {

        display: block;

    }

    .media-container {
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1158px) {
    .footer-label {
        display: flex;
        justify-content: start;
    }

    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        width: 1158px;

    }

    .footer-sub {

        margin-left: 80px;
    }

    .footer-form {
        gap: 24px;
        display: flex;
    }

    .footer {
        background: #2e2f42;
        padding: 100px 0;

    }

    .footer-text {

        margin-right: 120px;
        margin-bottom: 0;

    }



    .footer-icon-list {
        margin-bottom: 0px;
    }


}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    fill: #2e2f42;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
    fill: #FFF;
    background-color: #404bbf;
    border: none;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}



.modal-container-block {
    margin-bottom: 8px;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-input-container {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-input:focus {
    border: 1px solid #4d5ae5;

}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: #4d5ae5;
}

.modal-form-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);


}

.modal-form-textarea:focus {
    border: 1px solid #4d5ae5;

}

.modal-checkbox-container {
    margin-bottom: 24px;
}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    background-color: transparent;
    margin-right: 8px;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-checkbox:checked+.modal-checkbox-label .custom-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: 0;

}

.modal-checkbox-label {
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;


}

.custom-checkbox-text {}

.modal-link {
    color: #4d5ae5;
}

.modal-textarea-container {
    margin-bottom: 16px;
}



.send-btn {
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;

        padding: 72px 24px 24px 24px;

    }
}



.mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    padding-top: 72px;
    padding-left: 16px;
    padding-right: 24px;
    padding-bottom: 40px;
}



.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0%);
}



.mob-header-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.mob-header-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.currents {


    color: #404bbf;
}


.mob-header-adr-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    height: 72px;
    font-style: normal;
    margin-bottom: 48px;

}

.mob-header-adr-list-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-footer-icon-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}